<h1>Editing move</h1>

<% form_for(@move) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :game_id %><br />
    <%= f.text_field :game_id %>
  </p>
  <p>
    <%= f.label :x %><br />
    <%= f.text_field :x %>
  </p>
  <p>
    <%= f.label :y %><br />
    <%= f.text_field :y %>
  </p>
  <p>
    <%= f.label :angle %><br />
    <%= f.text_field :angle %>
  </p>
  <p>
    <%= f.label :power %><br />
    <%= f.text_field :power %>
  </p>
  <p>
    <%= f.label :attempts %><br />
    <%= f.text_field :attempts %>
  </p>
  <p>
    <%= f.label :score_differential %><br />
    <%= f.text_field :score_differential %>
  </p>
  <p>
    <%= f.label :max_multiplier %><br />
    <%= f.text_field :max_multiplier %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @move %> |
<%= link_to 'Back', moves_path %>